{% extends 'calculadora/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tercer corte</title>
</head>
<body>
{% block content %}
 <ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Suma, resta y Multiplicacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Inversa Transpuesta GaussJordan</a>
  </li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane container active" id="home">
    {% include 'calculadora/Suma_Resta.html' %}
  </div>
  <div class="tab-pane container fade" id="menu2">
    {% include 'calculadora/Inversa_Trans.html' %}
  </div>

</div>

{% endblock %}
</body>
</html>