<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'calculadora/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'calculadora/css/index/style.css' %}">
    <link rel="stylesheet" href="{% static 'calculadora/css/sumaResta/styles.css' %}">
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MetodosNumericos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Primer Corte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'converBases' %}">Calculadora Conversiones</a>
            <a class="dropdown-item" href="{% url 'IEEE' %}">IEEE</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Segundo Corte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'montecarlo' %}">Monte Carlo</a>
            <a class="dropdown-item" href="{% url 'simpson13' %}">Simpson 1/3</a>
            <a class="dropdown-item" href="{% url 'simpson38' %}">Simpson 3/8</a>
            <a class="dropdown-item" href="{% url 'trapecios' %}">Trapecios</a>
            <a class="dropdown-item" href="{% url 'rectangulos' %}">Rectangulos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tercer Corte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'SuMaMu' %}">Suma, Resta y Mult</a>
            <a class="dropdown-item" href="{% url 'inTraGau' %}">Inversa, Trans y Gauss</a>
        </li>
        
      </ul>
      
    </div>
  </nav>

  {% block content %}

  {% endblock %}


<script src="{% static 'calculadora/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'calculadora/js/popper.min.js' %}"></script>
<script src="{% static 'calculadora/js/bootstrap.min.js' %}"></script>
<script src="{% static 'calculadora/js/sumaResta/controles.js' %}"></script>

</body>
</html>