{% extends 'calculadora/index.html' %}

{% block content %}


<div class="row">
    <div class="col-sm-7">
        <div class="d-flex flex-column justify-content-left">
            <div class="p-4">


                <div class="form-group">

                    <label class="control-label col-sm-8">Ingrese Polinomio:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ecuaPoli" placeholder="Ingrese p(x)">
                    </div>
                    <br>
                    <label class="control-label col-sm-8" for="gradoPoli">Grado polinomio:</label>
                    <div class="col-sm-3">
                        <input type="number" id="no_coe" class="form-control" placeholder="Mayor a 0"><br>

                        <button type="button" class="btn btn-warning" id="btnNoCoe">No.Coeficientes</button>

                        <div id="container" style="margin: 10px;">
                            <table id="coePoli">

                            </table>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% csrf_token %}
                            <button type="button" class="btn btn-primary" id="btnCalcularPoli" url="{% url 'calcPolinomio' %}">Calcular Polinomio</button>
                            <button style="position: absolute; right: 3%;" type="button" class="btn btn-success"
                                id="btnGraficarPoli">Generar grafica</button>


                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-sm-10" for="rePoli">Resultado:</label>
                        <div class="col-sm-10">
                            <textarea id="rePoli" rows=6 cols=80 wrap=on readonly placeholder="Raices..."></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="d-flex flex-column">
            <div class="p-4">
                <img src="{%url 'grafica' funcion='x^2' a=-12 b=12 %}" height="300" width="400" id="imgUnoPoli">
            </div>

        </div>
    </div>
    <!-- xddddddd -->
</div>
</body>
</html>

{% endblock %}