<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}



    <title>Suma y Resta de Matrices</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-12">
                <p class="display-2" style="text-align: center;">Suma y Resta de Matrices</p>
            </div>
            <div class="col-12">
                <p class=""><strong>Instrucciones: </strong><br>
                * Digite el numero de filas y de columnas de las dos matrices <br>
                * Digite los Valores de las Dos Matrices <br>
                * proceda a sumar orestar las dos matrices <br></p>
                <br>

            </div>

        </div>
        <hr>
       <div class="row">
            <div class="col-12">
                <h3>Matriz Numero Uno</h3>
            </div>
            <div class="col-3" >
                <h4>No. de Filas</h4>
            </div>
            <div class="col-3"  >
                <h4>No. de Columnas</h4>
            </div>
       </div>
        <div class="row">
            <div class="col-3">
                <input type="number" id="rowsUno" >
            </div>
            <div class="col-3">
                <div class="col-3">
                    <input type="number" id="colsUno" >
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-success" id="btnOkUno">OK</button>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3>Matriz Numero Dos</h3>
            </div>
            <div class="col-3" >
                <h4>No. de Filas</h4>
            </div>
            <div class="col-3" >
                <h4>No. de Columnas</h4>
            </div>
       </div>
        <div class="row">

            <div class="col-3">
                <div class="col-3">
                    <input type="number" id="rowsDos" >
                </div>
            </div>
            <div class="col-3">
                <div class="col-3">
                    <input type="number" id="colsDos" >
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-success" id="btnOkDos">OK</button>
            </div>
            

        </div>
        <hr>
        <div  class="row">
            <div class="col-5">
                <h2>Matriz Uno</h2>
            </div>
            <div class="col-3">
                <button class="btn btn-danger" id="btnDeleteOne">Borrar</button>
            </div>
            <div class="col-12">
                <table class="col-12" id="matrizUno"  >

                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            
            <div class="col-5">
                <h2>Matriz Dos</h2>
            </div>
            <div class="col-3">
                <button class="btn btn-danger" id="btnDeleteTwo">Borrar</button>
            </div>
            <div class="col-12">
                <table class="col-12" id="matrizDos">

                </table>
            </div>
        </div>
        <hr>
        {% csrf_token %}
        <div class="row">
            <div class="col-4" >
                <strong><p id="nameOpera"></p></strong>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accion
                </button>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class= "dropdown-item" id="btnSum" url="{% url 'calcSumaMatriz' %}">Sumar</button>
                    <button class= "dropdown-item" id="btnRest" url = "{% url 'calcRestaMatriz' %}">Restar</button>
                    <button class= "dropdown-item" id="btnMult" url="{% url 'calcMultiMatrix' %}">Multiplicar</button>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <table id="matrixResult" >

                </table>
            </div>
            
        </div>

    </div>
    
    <br><br>


    
</body>
</html>